@import url(//db.onlinewebfonts.com/c/d602bf6498a65d9595ca30c04eadda32?family=TanseekModernProArabic-Book);

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap%27');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.index{
    background-color: #27272b;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
}

/* - - - -  NAVBAR - - - - */

nav{
    width: 90%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.menu-container{
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu::before{
    content: "";
    width: 50%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    right: 0;
    transition: width 0.3s ease-in-out;
}

.menu::after{
    content: "";
    width: 50%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.menu{
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.menu-container:hover .menu::after,
.menu-container:hover .menu::before{
    width: 100%;
}

.search{
   width: 45px;
   height: 45px;
   border: 1px  solid rgb(139, 139, 139);
   border-radius: 50%;
   padding: 10px;
   filter: invert();
   cursor: pointer;
   transition: background-color 0.4s cubic-bezier(.46,.03,.52,.96);
}

.search:hover{
    background-color: rgb(194, 194, 194);
}

/* - - - -  CONTENT - - - - */

.content{
    width: 90%;
    height: 100%;
    margin-top: 30px;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.content h1{
    font-family: "TanseekModernProArabic-Book";
    font-size: 50px;
    animation: slides-in 0.7s;
}

.content .subtitle{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    animation: slides-in 0.9s;
}

@keyframes slides-in {
    0%{
        filter: opacity(0);
        transform: translateX(-100%);
    }    

    100%{
        filter: opacity(1);
    }
}

/* - - - - CONTENT NAV - - - - */

.content-nav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

.content-nav p{
    cursor: pointer;
    position: relative;
}

#active-tab::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: orange;
    position: absolute;
    bottom: -5px;
    left: 0;
    animation: slides-in 0.5s;
}

.filters img{
    width: 40px;
    height: 40px;
    border: 1px  solid rgb(139, 139, 139);
    border-radius: 10px;
    padding: 7px;
    filter: invert();
    cursor: pointer;
    transition: background-color 0.4s cubic-bezier(.46,.03,.52,.96);
 }

.filters img:hover{
    background-color: rgb(194, 194, 194);
}

/* - - - - BURGERS - - - - */

.burgers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: "Quicksand", sans-serif;
}

.burger{
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.burger h2{
    font-size: 18px;
    font-weight: bold;
    margin-top: 3px;
}

.burger p{
    font-size: 15px;
    font-weight: 400;
}

.price{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.price h3{
    font-size: 15px;
}

.add{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: rgb(29, 27, 27);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s cubic-bezier(.46,.03,.52,.96);
}

.add:hover{
    background-color: rgba(245, 245, 245, 0.3);
    
}

.burger img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.7s cubic-bezier(.46,.03,.52,.96);
}

.burger img:hover{
    background-color: rgba(245, 245, 245, 0.3);
    -webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.40); 
    box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.40);
}

/* - - - - LAW-NAVBAR - - - - */

.law-navbar{
    width: 90%;
    height: 65px;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}  

.mail{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: filter 0.7s cubic-bezier(.46,.03,.52,.96);
}

.mail:hover{
    filter: drop-shadow(0px 8px 14px #000);
}

.mail img{
    width: 32px;
    filter: invert();
    opacity: 0.6;
}

.favorite{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: filter 0.7s cubic-bezier(.46,.03,.52,.96);
}

.favorite:hover{
    filter: drop-shadow(0px 8px 14px #000);
}

.favorite img{
    width: 32px;
    filter: invert();
    opacity: 0.6;
}

.plus{
    width: 40px;
    height: 40px;
    background-color: orange;
    border: none;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    filter: drop-shadow(0px 4px 5px rgb(247, 190, 85));
    font-size: 17px;
}

.cart{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: filter 0.7s cubic-bezier(.46,.03,.52,.96);
}

.cart img{
    width: 32px;
    filter: invert();
    opacity: 0.6;
}

.cart:hover{
    filter: drop-shadow(0px 8px 14px #000);
}

.profil{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: filter 0.7s cubic-bezier(.46,.03,.52,.96);
}

.profil:hover{
    filter: drop-shadow(0px 8px 14px #000);
}

.profil img{
    width: 32px;
    filter: invert();
    opacity: 0.6;
}

/* - - - -  - - - -  - - - -  - - - - */

/* - - - - ORDER CHECK OUT - - - - */

body.order{
    background-color: #27272b;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.order-navbar{
    width: 90%;
    height: 55px;
   
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back{
   width: 45px;
   height: 45px;
   border-radius: 50%;
   padding: 10px;
   filter: invert();
   cursor: pointer;
   transition: background-color 0.4s cubic-bezier(.46,.03,.52,.96);
}

.back:hover{
    background-color: rgb(194, 194, 194);
}

.more{
   width: 45px;
   height: 45px;
   border-radius: 50%;
   padding: 6px;
   filter: invert();
   cursor: pointer;
   transition: background-color 0.4s cubic-bezier(.46,.03,.52,.96);
}

.more:hover{
    background-color: rgb(194, 194, 194);
}

/* - - - -  - - - - */

.line{
    width: 90%;
    height: 2.5px;
    background-color: white;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slides-in 0.9s;
}

/* - - - -  - - - - */

.checkout-content{
    height: 100%;
    width: 90%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.check-out{
    width: 100%;
    height: 70px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 8px 14px #000);
}

.prodotto{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.checkout-niuru{
    width: 370px;
    filter: drop-shadow(0px 8px 14px #000);
    margin-left: 15px;
}

.type-burger{
    width: 100%;
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    margin-top: 30px;
}

.desc{
    width: 100%;
    margin-top: 15px;
    font-weight: 300;
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
}

/* - - - -  - - - - */

.law-checkout-navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Quicksand", sans-serif;
    bottom: 0;
    position: absolute;
    margin-bottom: 55px;
}

.order-now{
    width: 150px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: orange;
    color: white;
    border: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    filter: drop-shadow(0px 4px 5px rgb(247, 190, 85));
    cursor: pointer;
}

.on{
    font-family: "Quicksand", sans-serif;
    margin-left: 20px;
    font-weight: bold;
    font-size: 14px;
}

.checkout-bag{
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 7px;
    filter: drop-shadow(0px 8px 14px #000);
}

.final-bag{
    width: 30px;
}

.tot{
    font-size: 12px;
}

.final-price{
    margin-top: 5px;
    font-size: 22px;
}

.line-due{
    width: 100%;
    height: 2.5px;
    background-color: white;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slides-in 0.9s;
}